# ==========================================================
# Copyright (c) 2026 ArtistBots 
# All Rights Reserved.
#
# Project      : ArtistBots API Telegram Music Bot
# Powered By   : Artist
# Type         : API Based Telegram Music Bot
#
# Bot          : @ArtistApibot
# Channel      : https://t.me/artistbots
# GitHub       : https://github.com/elevenyts
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=35049466
API_HASH=9c6714cd19ba664355809d672e94d9b4
BOT_TOKEN=8636093123:AAHErXMy0nbjupGWLlBpjhxVJEAjylbWJeY
LOGGER_ID=-1004316626022
MONGO_DB_URI=mongodb+srv://manishkumar51049348494_db_user:<db_password>@cluster0.6kojieh.mongodb.net/?appName=Cluster0
OWNER_ID=8062021892
STRING_SESSION=1BVtsOH8Buyp2vELL5x80p7k-X63Kp9Vl5ZfoBRzKEkDUUiqtPpc1N8187js8Kb3yvcIYDU-kcF9X7P-3xsAcwJMJob_7LLZkRH-Np4sD0Ii918TrLuZqaFkzB7q0HpVt-giaRV4ui8S0DtKrjh39sR5bZyjrukoulN78C588CZg9k9MJwQSwngPjUJVOe66O156V1-d26_MdY9dfUJePTtiVLjEXbrnZgFHFAp44yYEk3iIy5JY8VUq4Mm-fO41kwWcDqpf4647ILhNKiPSykisV7r7GCf5f8cKxryloddDHwlNwJPwyphs1aRHd2Zf-th6sVFD5tXuCi54BDWFxasbC_KjJoO0=
ARTISTBOTS_API_URL=https://artistbots.to
ARTISTBOTS_KEY=ArtistbotsIA2plHsZ8izvu8v8k7QBGO
